<div class="container mt-3">
<h2>Liste des employées</h2>
<a  routerLink="employee/add/0" class="btn btn-primary">Ajouter un Employé(e)</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">

      <td> {{employee.id}} </td>
      <td>{{employee.name}} </td>
      <td>{{employee.email}} </td>
      <td>{{employee.phone}} </td>
      <td><a [routerLink]="['employee/edit', employee.id]"><button class="btn btn-warning">Modifier</button></a> </td>
      <td><button (click)="onDelete(employee.id)" class="btn btn-danger">Supprimer </button></td>
    </tr>

  </tbody>
</table>

</div>
